<nav class="navbar navbar-light navbar-expand-md" id="nav-bar"
        style="font-family: Montserrat, sans-serif;font-size: 14px;">
        <div class="container"><a class="navbar-brand" href="/"><i class="fa fa-home"
                    data-aos="fade" data-aos-duration="400"
                    style="font-size: 30px;color: rgba(255,255,255,0.9);"></i></a><button data-toggle="collapse"
                class="navbar-toggler" data-target="#navcol-1" style="background: rgba(255,255,255,0.42);"><span
                    class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item" data-aos="fade" data-aos-duration="600"><i class="fa fa-code"
                            style="font-size: 18px;"></i><a class="nav-link active" href="/problems"
                            style="color: rgba(255,255,255,0.9);">Practice</a></li>
                    <li class="nav-item" data-aos="fade" data-aos-duration="800"><i class="fa fa-calendar"
                            style="font-size: 18px;"></i><a class="nav-link active" href="/contest"
                            style="color: rgba(255,255,255,0.9);">Contests</a></li>
                    <li class="nav-item" data-aos="fade" data-aos-duration="1000"><svg
                            xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                            viewBox="0 0 16 16" class="bi bi-graph-up" style="font-size: 18px;">
                            <path fill-rule="evenodd"
                                d="M0 0h1v15h15v1H0V0Zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07Z">
                            </path>
                        </svg><a class="nav-link active" href="/leaderboard"
                            style="color: rgba(255,255,255,0.9);">Leaderboard</a></li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item" data-aos="fade" data-aos-duration="1200"><svg
                            xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                            viewBox="0 0 16 16" class="bi bi-person-square" style="font-size: 18px;">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
                            <path
                                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z">
                            </path>
                        </svg>
                        {% if user.is_authenticated %}
                            <a class="nav-link active" href="/accounts/logout" style="color: rgba(255,255,255,0.9);">Sign Out</a></li>
                        {% else %}
                            <a class="nav-link active" href="/accounts/login" style="color: rgba(255,255,255,0.9);">Sign In</a></li>
                        {% endif %}
                        </li>
                </ul>
            </div>
        </div>
    </nav>