{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Contests · CP Progress Tracker</title>
    {% include "partials/_head.html" %}
</head>

<body>
    {% include 'partials/_navbar.html' %}
    <section id="main-sec">
        <h1 id="heading">Contests</h1>
        <div class="container flex-row" id="main-container">
            <div class="row">
                <div class="col">
                    <div class="card custom-card">
                        <h4 class="contest-table-h4">Upcoming Contests</h4>
                        <div class="card-body">
                            <div class="contest-table-div table-div" style="margin-bottom: -27px;margin-left: -13px;margin-right: -13px;margin-top: -18px;">
                                <div class="table-responsive shadow-none custom-table-responsive">
                                    <table class="table custom-table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Contest Name</th>
                                                <th scope="col">Start Time</th>
                                                <th scope="col">Duration</th>
                                                <th scope="col"> </th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            {% for event in events %}

                                            <tr>
                                                <td>
                                                    <a class="try-link text-decoration-none" href="{{event.clink}}" style="color: rgb(78, 81, 254);" target="_blank">{{event.name}}<br></a>
                                                    <small class="d-block"><a href="{{event.host}}" style="color:darkgrey"  target="_blank">{{event.host}}</small>
                                                </td>
                                                <td>{{event.time}}<br></td>
                                                <td>{{event.duration}}<br></td>
                                                <td>
                                                        <!-- <div title="Add to Calendar" class="addeventatc" data-styling="none"> -->
                                                            <a href="{{event.calendar}}" target="_blank">
                                                                <i class="fa fa-calendar-plus-o" style="color: rgb(66,131,201);"></i>
                                                            </a>
                                                        <!-- </div>                           -->
                                                    <br>
                                                </td>
                                            </tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card custom-card" style="max-height: 306px;max-width: 250px;">
                        <h4 class="contest-table-h4">Filters</h4>
                        <div class="card-body">
                            <h6 class="text-muted card-subtitle mb-2">Select your favourite site(s):</h6>
                            <div>
                                <!-- {{cfSitesFilter.form.choices}} -->
                                <form method="post" action="form">

                                    {% csrf_token %}
                                    <div class="form-check custom-checkbox"><input class="form-check-input" type="checkbox" name="codechef.com" value="True" {{list1.0}}>Codechef</div>
                                    <div class="form-check custom-checkbox"><input class="form-check-input" type="checkbox" name="codeforces.com" value="True" {{list1.1}}>Codeforces</div>
                                    <div class="form-check custom-checkbox"><input class="form-check-input" type="checkbox" name="hackerearth.com" value="True" {{list1.2}}>Hackerearth</div>
                                    <div class="form-check custom-checkbox"><input class="form-check-input" type="checkbox" name="leetcode.com" value="True" {{list1.3}}>Leetcode</div>
                                    <div class="form-check custom-checkbox"><input class="form-check-input" type="checkbox" name="atcoder.jp" value="True" {{list1.4}}>Atcoder</div>
                                    <div class="form-check custom-checkbox"><input class="form-check-input" type="checkbox" name="google.com" value="True" {{list1.5}}>Google</div>

                                    <br>
                                    <button type="submit" class="btn btn-dark btn-sm">Apply</button>
                                </form> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'partials/_footer.html' %}
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/bs-init.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
</body>

</html>